{% extends 'base.html' %}
{% block title %}index{% endblock %}
{% load static %}
{% block content %}
<style>
    body {
        background-color: rgb(225, 221, 221);
    }
    #ind {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        background-image: url("{% static 'img/ban.webp' %}");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 600px;
        width: 100%;
    }
    #best {
        
        
        background-color: rgba(13, 22, 13, 0.5);
    }
    .agence {
        margin-top: 20px;
        margin-bottom: 15px;
        border: 1px;
        border-radius: 10px;
    }
</style>

<div class="container-fluid">
    {% include 'nav.html' %}
    <div id="ind" class="container-fluid text-center  agence back">
        <div id="best" class="col text-white p-3">
            <h1>SoinsKenya</h1>
            <h2>Nous facilitons l'accès aux soins contre le cancer à Nairobi pour les malades congolais.</h2>
            <div class="">
                <a href="#" class="btn btn-outline-light btn-lg"><i class="bi bi-telephone"></i> Nous contacter</a>
                <a href="#" class="btn btn-outline-light btn-lg">Commencer</a>
            </div>
        </div>
    </div>
        <!-- A PROPOSE DE L'AGENCE -->
    <div class="container-fluid agence">
        
        
    </div>
    <div class="mb-2 bg-success text-white agence">
        <h2 class="text-center"> Notre mission</h2>
        <div class="row p-2" style="text-align: justify;">
            <h3 style="font-style: italic;">
                "Permettre aux malades congolais atteints de cancer d’accéder
                à des soins spécialisés de qualité à Nairobi, au Kenya."
            </h3>
        </div>
    </div>
    <div class="gence bg-light agence">
        <h2 class="text-center">Pourquoi Nairobi?</h2>
        <h3 class="text-center">Choisissez-nous pour ces 4 raisons :</h3>
        
        <!-- Conteneur responsive -->
        <div class="container mt-4">
            <div class="row text-center">
                <div class="col-12 col-md-6 col-lg-3 mb-4">
                    <i class="bi bi-hospital fs-1 mb-2 text-success" style="font-size: 60px;"></i>
                    <h5>Infrastructures médicales de haut niveau</h5>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-4">
                    <i class="fas fa-user-md fs-1 mb-2" tyle="font-size: 60px;"></i>
                    <h5>Spécialistes qualifiés et expérimentés</h5>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-4">
                    <i class="fas fa-hand-holding-usd fs-1 mb-2 text-warning" tyle="font-size: 60px;"></i>
                    <h5>Coût des soins plus abordable</h5>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-4">
                    <i class="bi bi-people fs-1 mb-2" tyle="font-size: 60px;"></i>
                    <h5>Accessibilité et accompagnement personnalisé</h5>
                </div>
            </div>
        </div>

        <div class="d-flex text-whitea">
            <div class="col-6" style="margin: auto;">
                <img src="{% static 'img/pourquoi.jpeg' %}" alt="image" class="m-3" style="width: 90%; height: 150px; border-radius: 10px;">
            </div>
            <div class="col-6" style="margin: auto;">
                <img src="{% static 'img/accomp.jpeg' %}" alt="image" class="m-3" style="width: 90%; height: 150px; border-radius: 10px;">
            </div>
        </div>

                
    </div>
    

</div>
{% endblock %}